﻿body {
   
}




html, body {
    height: 100%;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    background-image: url('Immagini/hops2.jpg');
    background-size: cover;
}

#footer, #push {
    height: 50px;
    clear: both;
    
}
#index{
    text-align:center;
    margin-top:250px;
}
.immagini{
    width:50px;
    height:50px;
}
