﻿
@{
    ViewBag.Title = "GestioneDB";
}

<h2>GestioneDB</h2>
<div class="row" style="background-color:white">
    <div class="col-md-3">
        <h2 style="text-align:center">Prodotti</h2>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Index", "Prodotto")'>
                   <h3>Lista</h3>
                </a>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Create", "Prodotto")'>
                    <h3>Crea</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2  style="text-align:center">Prezzi</h2>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Index", "Prezzo")'>
                    <h3>Lista</h3>
                </a>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Create", "Prezzo")'>
                    <h3>Crea</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2  style="text-align:center">Clienti</h2>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Index", "Cliente")'>
                    <h3>Lista</h3>
                </a>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Create", "Cliente")'>
                    <h3>Crea</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2  style="text-align:center">Ordini</h2>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Index", "Ordine")'>
                    <h3>Lista</h3>
                </a>
            </div>
        </div>
    </div>
</div>

