﻿@{
    ViewBag.Title = "Home Page";
}

<div id="index">
    <h1>"È stato un uomo saggio colui che ha inventato la birra.”</h1>
    <h3 style="font-style: italic">Platone, filosofo dell’Antica Grecia (428 a.C. – 347 a.C.)</h3>
</div>




