﻿
@{
    ViewBag.Title = "ChangeCountry";
}

<h2>ChangeCountry</h2>
<div class="form-horizontal" style="background-color:white">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
           
            <select id="nazioni" class="form-control">
                <option value="" selected="selected"></option>
            </select>
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
           
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
<script>

        $(document).ready(function () {

            $.ajax({
                url: "/Catalogo/GetPaesi",
                type: "GET",
                success: function (response) {
                    for (var i in response) {
                        var optionpaese = $("<option>");
                        optionpaese.attr("value", response[i].Nome);
                        optionpaese.append(response[i].Nome);
                        $("#nazioni").append(optionpaese)
                    }
                }
            });

            $("#nazioni").change(function () {

                var paese = $("#nazioni").val();

                $.ajax({

                    url:'@Url.Action("Index", "Catalogo")',
                    type: "POST",
                    data: { nazione: paese },
                    success: function (result) {
                        $(function () {
                            $("body").html(result);
                        });
                    }


                });
            });

        });
</script>
}


