﻿@model IEnumerable<ProgettoECommerce.Models.CatalogoView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table" style="background-color:white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImmagine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoProdotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valuta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                <img src="~/Content/Immagini/@item.UrlImmagine" width="100" height="100" )" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrezzoProdotto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibile)
            </td>
            <td>
                @if (item.Disponibile == "Disponibile")
                {
                    @Html.ActionLink("Acquista", "Ordina", new { c8 = item.C8, prezzoProdotto = item.PrezzoProdotto, valuta = item.Valuta, idProdotto = item.Idprodotto })
                }


            </td>
        
       
    </tr>
}

</table>
