﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div id="container">
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#0e0d0d;border-bottom:hidden">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <img src="@Url.Content("~/Content/Immagini/luppolo.png")" width="50" height="52" />

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Catalogo", "ChangeCountry", "Catalogo")</li>
                        <li>@Html.ActionLink("Ricerca prodotto", "CercaPage", "Prodotto")</li>
                        <li>@Html.ActionLink("Prodotto", "Index", "Prodotto")</li>


                    </ul>

                    <ul class="nav navbar-nav" style="float:right">


                        <li>@Html.ActionLink("Gestione DB", "GestioneDb", "Home")</li>
                       

                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">

            @RenderBody()

        </div>
    </div>
    

        <hr />
        <footer>
            <p style="color:black;font-size:large">&copy; @DateTime.Now.Year - Progetto E-Commerce</p>
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
