﻿@model IEnumerable<ProgettoECommerce.Models.OrdineView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="background-color:white">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.IdUtente)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.C8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valuta)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DataAcquisto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
   
    <td>
        @Html.DisplayFor(modelItem => item.IdUtente)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.C8)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prezzo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Valuta)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataAcquisto)
    </td>

</tr>
}

</table>
