﻿
@{
    ViewBag.Title = "CercaPage";
}

<h2>CercaPage</h2>
<div class="form-group">
    <label for="ricerca" class="control-label col-md-2">Inserisci Titolo o C8</label>
    <div class="col-md-10">
        <input type="text" id="ricerca" />

    </div>
</div>
<table id="tabella" class="table" style="background-color:white">
    <tr>
      
        <th>
            C8
        </th>
        <th>
           Titolo
        </th>
        <th>
           Descrizione
        </th>
        <th>
            Quantita
        </th>
        
    </tr>
  

</table>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {

            $("#ricerca").keyup(function () {
                var param = $("#ricerca").val();
                $(".tab").empty();
                $.ajax({
                    url: "/Prodotto/Cerca",
                    type: "GET",
                    data: { parametro: param },
                    success: function (response) {
                        for (var i in response) {
                            var record = $("<tr>");
                            record.attr("class", "tab");
                            var C8 = $("<td>");
                            C8.append(response[i].C8)
                            record.append(C8);
                            var Titolo = $("<td>");
                            Titolo.append(response[i].Titolo)
                            record.append(Titolo);
                            var Descrizione = $("<td>");
                            Descrizione.append(response[i].Descrizione)
                            record.append(Descrizione);
                            var Quantita = $("<td>");
                            Quantita.append(response[i].Quantita)
                            record.append(Quantita);

                           
                            $("#tabella").append(record)
                        }
                    }
                });





            });
        });
    </script>
}

