﻿@model IEnumerable<ProgettoECommerce.Models.ProdottoView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>


<table class="table" style="background-color:white">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.C8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImmagine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
   
    <td>
        @Html.DisplayFor(modelItem => item.C8)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Titolo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descrizione)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantita)
    </td>
    <td>
        <img src="~/Content/Immagini/@item.UrlImmagine" width="100" height="100")" />
        
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { IdProdotto = item.IdProdotto }) 
       
    </td>
</tr>
}

</table>
