﻿@model IEnumerable<ProgettoECommerce.Models.PrezzoView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="background-color:white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.C8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoProdotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valuta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paese)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.C8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezzoProdotto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valuta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paese)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { IdPrezzo=item.IdPrezzo }) 
         
        </td>
    </tr>
}

</table>
